* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #121212;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}
