* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 100vh;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 100vh;
  background: #242424;
}

.title {
  width: 100%;
  max-width: 560px;
  margin-bottom: 25px;
  font-size: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 560px;
  gap: 40px;
}

.campo {
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.25rem;
  gap: 10px;
}

#resultado {
  color: #ffffff;
  font-size: 1.5rem;
}

label {
  font-size: 1.25rem;
  color: #242424;
}

input {
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  padding: 16px 14px;
  min-width: 100%;
  background: #eeeeee;
}

input[type="text"]::placeholder {
  color: #9c9c9c;
}

.botao {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  height: 49px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: background-color 0.2s linear;
}

.botao:hover {
  background: #0860c5;
}
